@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.error-message {
  margin: auto;
  width: 90%;
  border:  1px solid rgb(46, 46, 161);
  background-color: rgb(112, 112, 214);
  padding: .5rem;
  border-radius: 4px;
}

.error-message--error {
  border-color: rgb(169, 36, 36);
  background-color: rgb(243, 94, 94);
  color: rgb(169, 36, 36);
}

.paginate {
  text-align: center;
  margin-top: 1rem;
}

.paginate ul {
  list-style: none;
  display: inline-block;
}

.paginate ul li {
  list-style: none;
  display: inline-block;
}

.paginate > ul li a{
  padding: 4px;
  margin-right: 2px;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 2px;
  min-width: 20px;
}

.paginate > ul li a:hover, .paginate > ul li a:active, .paginate > ul li a.active {
  background-color: blue;
  color: white;
}

